<div class="registerpage">
<app-navbar></app-navbar>
<div class="container">
    <form #signInForm="ngForm" class="form" (ngSubmit)="register()">
        <img class="logo" src="/assets/images/logo3.png" routerLink="/home" routerLinkActive="active"/>
        <div class="register">{{'REGISTER.CREATE_ACCOUNT_MESSAGE' | translate}}</div>
        <input
        name="firstName"
        required
        #firstName="ngModel"
        [(ngModel)]="credentials.firstName"
        [placeholder]="'PLACEHOLDER.FIRST_NAME' | translate"
        type="text"
        />
        @if(firstName.errors?.['required'] && firstName.touched) {
            <em class="error">{{'ERRORS.FIRST_NAME' | translate}}</em>
        }

        <input
        name="lastName"
        required
        #lastName="ngModel"
        [(ngModel)]="credentials.lastName"
        [placeholder]="'PLACEHOLDER.LAST_NAME' | translate"
        type="text"
        />
        @if(lastName.errors?.['required'] && lastName.touched) {
            <em class="error">{{'ERRORS.LAST_NAME' | translate}}</em>
        }

        <input
        name="email"
        required
        email
        #email="ngModel"
        [(ngModel)]="credentials.email"
        [placeholder]="'PLACEHOLDER.EMAIL' | translate"
        type="text"
        /> 
        @if(email.errors?.['required'] && email.touched) {
            <em class="error">{{'ERRORS.REQUIRED_EMAIL' | translate}}</em>
        }
        @if(email.errors?.['email'] && email.touched) {
            <em class="error">{{'ERRORS.INVALID_EMAIL' | translate}}</em>
        }

        <input
        name="password"
        required
        #password="ngModel"
        [(ngModel)]="credentials.password"
        appStrongPassword
        (blur)="password.control.updateValueAndValidity()"
        [placeholder]="'PLACEHOLDER.PASSWORD' | translate"
        type="password"
        />
        @if(password.errors?.['required'] && password.touched) {
            <em class="error">{{'ERRORS.REQUIRED_PASSWORD' | translate}}</em>
        }
        @if(password.errors?.['strongPassword'] && password.touched) {
            <em class="error">
                <p>{{'PASSWORD.TITLE' | translate}}</p> 
                    @if(password.errors?.['strongPassword']?.length) {
                        <ul>
                            @for(rule of password.errors?.['strongPassword']; track rule) {
                                <li>{{rule}}</li>
                            }
                        </ul>
                    }
            </em>
        }

        <input
            name="confirmPassword"
            required
            #confirmPassword="ngModel"
            [(ngModel)]="credentials.confirmPassword"
            [placeholder]="'PLACEHOLDER.CONFIRM_PASSWORD' | translate"
            type="password"
            />
            @if(confirmPassword.touched && confirmPassword.value !== credentials.password) {
                <em class="error">
                    {{'ERRORS.PASSWORD_NOT_MATCHING' | translate}}
                </em>
            }
            
        <div class="buttons">
        <button type="submit" [disabled]="signInForm.invalid || credentials.password !== credentials.confirmPassword" class="signin">
            {{'BUTTONS.REGISTER' | translate}}
        </button>
        </div>
        @if(registerError) {
            <div class="existingAccount">
                <mat-icon class="icon-error">error_outline</mat-icon>
                {{'ERRORS.EXISTING_ACCOUNT' | translate}}
            </div>
        }
        <div class="accountMessage">
           {{'REGISTER.SIGNIN_TEXT' | translate}} <br><a routerLink="/login" routerLinkActive="active">{{'BUTTONS.SIGNIN' | translate}}</a>
        </div>
    </form>

</div>
</div>

