
<div class="container">
    
    <app-navbar [showButtonAtTop]="showButtonAtTop"></app-navbar>

    <section class="hero">
        <div class="hero-content">
            <img class="logo" src="/assets/images/logo3.png" />
            <h3>{{homePageText.HeroText}}</h3>
            <button id="hero-button" mat-raised-button (click)="scrollToDetails()">Find out more</button>
        </div>

    </section>

    <section #details class="details">
        <div class="details-description">
            <h2>{{homePageText.DescriptionHeader}}</h2>
            <p>{{homePageText.DescriptionText}}</p>
        </div>
        @if(!showButtonAtTop) {
            <div class="details-buttons">
                <button id="details-signin" mat-raised-button color="primary" routerLink="/login">Sign In</button>
                <button id="details-register" mat-stroked-button color="primary" routerLink="/register">Register</button>
            </div>
        }

        @if(showScrollTopButton) {
            <button
                mat-fab
                color="primary"
                class="scroll-top-button"
                (click)="scrollToTop()">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
        }
    </section>

</div>



