
<div class="container">
    
    <app-navbar [showButtonAtTop]="showButtonAtTop"></app-navbar>

    <section class="hero">
        <div class="hero-content">
            <img class="logo" src="/assets/images/logo3.png" />
            <h3>{{'HOME_PAGE.HERO_TEXT' | translate}}</h3>
            <button id="hero-button" mat-raised-button (click)="scrollToDetails()">{{'BUTTONS.LEARN_MORE' | translate}}</button>
        </div>
    </section>

    <section #details class="details">
        <div class="details-description">
            <h2>{{'HOME_PAGE.DESCRIPTION_HEADER' | translate}}</h2>
            <p>{{'HOME_PAGE.DESCRIPTION_TEXT' | translate}}</p>
        </div>
        @if(!showButtonAtTop) {
            <div class="details-buttons">
                <button id="details-signin" mat-raised-button color="primary" routerLink="/login">{{'BUTTONS.SIGNIN' | translate}}</button>
                <button id="details-register" mat-stroked-button color="primary" routerLink="/register">{{'BUTTONS.REGISTER' | translate}}</button>
            </div>
        }

        @if(showScrollTopButton) {
            <button
                mat-fab
                color="primary"
                class="scroll-top-button"
                (click)="scrollToTop()">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
        }
    </section>

</div>



