<mat-toolbar class="toolbar" color="primary">

  <div class="toolbar-left">
    <div class="language-selector">
      <select (change)="switchLanguage($event)">
        <option *ngFor="let lang of supportedLanguages" [value]="lang.code" [selected]="lang.code === currentLang">
          {{ lang.label }}
        </option>
      </select>
    </div>
  </div>

  @if(!hideAuthButtons) {
      <div class="toolbar-right">
        <button mat-button routerLink="/login" routerLinkActive="active">{{'BUTTONS.SIGNIN' | translate}}</button>
        <button mat-stroked-button routerLink="/register" routerLinkActive="active">{{'BUTTONS.REGISTER' | translate}}</button>
      </div>
  }@else {
    <div class="navbar-user" *ngIf="user">
      <button mat-button [matMenuTriggerFor]="userMenu">
        {{ 'NAVBAR.GREETING' | translate }}, {{ user.firstName }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
      <!-- <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        {{ 'NAVBAR.PROFILE' | translate }}
      </button> -->
      <button mat-menu-item class="logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        {{ 'BUTTONS.LOGOUT' | translate }}
      </button>
    </mat-menu>
    </div>
  }
</mat-toolbar>
