<div class="loginpage">
<app-navbar></app-navbar>
<div class="container">
    <form #signInForm="ngForm" class="form" (ngSubmit)="signIn()">
        <img class="logo" src="/assets/images/logo3.png" routerLink="/home" routerLinkActive="active"/>
        <div class="sign-in">{{'LOGIN.HEADER' | translate}}</div>
        @if(signInError) {
            <div class="signInError">
                <mat-icon class="icon-error">error_outline</mat-icon>
                {{'LOGIN.WRONG_ACCOUNT' | translate}}
            </div>
        }
        <input
        name="email"
        required
        email
        #email = "ngModel"
        [(ngModel)] = "credentials.email"
        [placeholder]="'PLACEHOLDER.EMAIL' | translate"
        type="text"
        />

        @if(email.errors?.['required'] && email.touched) {
            <em class="error">{{'ERRORS.REQUIRED_EMAIL' | translate}}</em>
        }
        @if(email.errors?.['email'] && email.touched) {
            <em class="error">{{'ERRORS.INVALID_EMAIL' | translate}}</em>
        } 

        <input
        name="password"
        required
        #password = "ngModel"
        [(ngModel)] = "credentials.password"
        [placeholder]="'PLACEHOLDER.PASSWORD' | translate"
        type="password"
        />
        @if(password.invalid && password.touched) {
            <em class="error">{{'ERRORS.REQUIRED_PASSWORD' | translate}}</em>
        }
        <div class="buttons">
        <button type="submit" [disabled]="signInForm.invalid" class="signin">
            {{'BUTTONS.SIGNIN' | translate}}
        </button>
        </div>
        <div class="register">
            {{'LOGIN.REGISTER_MESSAGE' | translate}} <br><a routerLink="/register" routerLinkActive="active">{{'BUTTONS.CREATE_ACCOUNT' | translate}}</a>
        </div>
    </form>

</div>
</div>

