<div class="container">
    <form #signInForm="ngForm" class="form" (ngSubmit)="signIn()">
        <img class="logo" src="/assets/images/logo3.png" routerLink="/home" routerLinkActive="active"/>
        <div class="sign-in">Sign In</div>
        @if(signInError) {
            <div class="signInError">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="wd-icon-exclamation-circle wd-icon" focusable="false" role="presentation" viewBox="0 0 24 24">
                    <g fill-rule="evenodd" class="wd-icon-container">
                    <circle cx="12" cy="12" r="9" class="wd-icon-background"></circle>
                    <path d="M12 2c5.523 0 10 4.476 10 10 0 5.523-4.476 10-10 10-5.523 0-10-4.476-10-10C2 6.477 6.476 2 12 2zm0 2a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8z" class="wd-icon-fill"></path>
                    <path d="M12.495 7c.279 0 .505.233.505.503v5.994a.497.497 0 0 1-.505.503h-.99a.509.509 0 0 1-.505-.503V7.503c0-.278.214-.503.505-.503h.99zm0 10a.497.497 0 0 0 .505-.505v-.99a.497.497 0 0 0-.505-.505h-.99a.497.497 0 0 0-.505.505v.99c0 .279.214.505.505.505h.99z" class="wd-icon-accent"></path>
                    </g>
                </svg>
                {{loginText.WrongAccount}}
            </div>
        }
        <input
        name="email"
        required
        email
        #email = "ngModel"
        [(ngModel)] = "credentials.email"
        placeholder="Email Address"
        type="text"
        />

        @if(email.errors?.['required'] && email.touched) {
            <em class="error">{{loginText.RequiredEmailError}}</em>
        }
        @if(email.errors?.['email'] && email.touched) {
            <em class="error">{{loginText.InvalidEmailError}}</em>
        } 

        <input
        name="password"
        required
        #password = "ngModel"
        [(ngModel)] = "credentials.password"
        placeholder="Password"
        type="password"
        />
        @if(password.invalid && password.touched) {
            <em class="error">{{loginText.RequiredPasswordError}}</em>
        }
        <div class="buttons">
        <button type="submit" [disabled]="signInForm.invalid" class="signin">
            Sign In
        </button>
        </div>
        <div class="register">
            {{loginText.RegisterMessage}} <br><a routerLink="/register" routerLinkActive="active">Create Account</a>
        </div>
    </form>

</div>
